@font-face {
    font-family: 'Poppins';
    src: url(./assets/font/Poppins-Regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

/* Navbar Styling */
.navbar {
    background-color: #fff;
    color: #333;
    padding: 25px 3%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 2px 2px 2px #808080;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.logo span{
    color: #add8e6;
}


/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 70px;
}

.dropdown a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #add8e6;
}

.dropdown{
    position: relative;
    margin-top: 10px;
}

.dropdown-menu{
    list-style: none;
    position: absolute;
    top: 100%;
    padding: 15px;
    border-radius: 7px;
    background-color: #fff;
    display: none;
    min-width: 150px;
    box-shadow: 0px 4px 6px #d6d3d3;
    opacity: 0;
    margin: 0 auto;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu li{
margin-top: 20px;
}

.dropdown-menu li a {
    padding: 10px;
    white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.login{
    background-color: #add8e6;
    padding: 10px 35px;
    border-radius: 3px;
}

.login a{
    text-decoration: none;
    color: #fff;
}

main{
    margin-top: 100px;
}

.grid-container{
    display: grid;
    gap: 20px;
    max-width: 100%; 
    width: 100%; 
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-item img{
    width: 90%;
    height: auto;
}

.bottom-side{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.bottom-side a{
    text-decoration: none;
    color: #333;
}

.rate{
    font-size: 15px;
}
/* Responsive Styles */
@media (max-width: 768px) {
   
}