@font-face {
    font-family: 'Poppins';
    src: url(../assets/font/Poppins-Regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

/* Navbar Styling */
.navbar {
    background-color: #fff;
    color: #333;
    padding: 25px 3%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 2px 2px 2px #808080;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.logo span{
    color: #add8e6;
}


/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 70px;
}

.dropdown a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #add8e6;
}

.dropdown{
    position: relative;
    margin-top: 10px;
}

.dropdown-menu{
    list-style: none;
    position: absolute;
    top: 100%;
    padding: 15px;
    border-radius: 7px;
    background-color: #fff;
    display: none;
    min-width: 150px;
    box-shadow: 0px 4px 6px #d6d3d3;
    opacity: 0;
    margin: 0 auto;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu li{
margin-top: 20px;
}

.dropdown-menu li a {
    padding: 10px;
    white-space: nowrap;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.login{
    background-color: #add8e6;
    padding: 10px 35px;
    border-radius: 3px;
}

.login a{
    text-decoration: none;
    color: #fff;
    transition: color 1s ease;
}

.login a:hover{
    color: #ccc7c7;
}


main{
    margin-top: 100px;
}

form{
    padding: 30px;
    box-shadow: 5px 5px 5px 5px #f0efef;
    width: 35%;
    margin: 10% auto;
    border-radius: 10px;
    position: relative;
}

form h2{
    text-align: center;
    margin-bottom: 30px;
}

form input, button{
    font-family: inherit;
    width: 80%;
    margin: 10px 10%;
    padding: 15px;
    outline: none;
    border: 1px solid #808080;
}

form .login-btn{
    background-color: #add8e6;
}



@media (max-width:768px) {
    form{
        width: 90%;
        margin-top: 30%;
    }

    .continue{
        margin: 30px 12%;
    }
}